/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;

  @apply bg-veryDarkBlue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.backgroundImage {
  @apply min-w-full bg-bottom bg-no-repeat;

  background-size: 100% 50%;
  background-image: url("/bg-desktop.png");

  @media only screen and (max-width: 768px) {
    background-size: cover;
    background-image: url("/bg-mobile.png");
  }
}
